In [2]:
import pandas as pd
import numpy as np

## Load train data

In [3]:
X_train = pd.read_csv("data/train_values.csv")
Y_train = pd.read_csv("data/train_labels.csv")

In [4]:
X_train.head(10)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0
5,333020,8,558,6089,2,10,9,5,t,r,...,1,0,0,0,0,0,0,0,0,0
6,728451,9,475,12066,2,25,3,4,n,r,...,0,0,0,0,0,0,0,0,0,0
7,475515,20,323,12236,2,0,8,6,t,w,...,0,0,0,0,0,0,0,0,0,0
8,441126,0,757,7219,2,15,8,6,t,r,...,0,0,0,0,0,0,0,0,0,0
9,989500,26,886,994,1,0,13,4,t,i,...,0,0,0,0,0,0,0,0,0,0

In [5]:
Y_train.head(10)

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3
5       333020             2
6       728451             3
7       475515             1
8       441126             2
9       989500             1

In [6]:
print(X_train.shape)
print(Y_train.shape)

(260601, 39)
(260601, 2)

In [7]:
print(f"Columns' names:\n{X_train.columns.values}")

Columns' names:
['building_id' 'geo_level_1_id' 'geo_level_2_id' 'geo_level_3_id'
 'count_floors_pre_eq' 'age' 'area_percentage' 'height_percentage'
 'land_surface_condition' 'foundation_type' 'roof_type'
 'ground_floor_type' 'other_floor_type' 'position' 'plan_configuration'
 'has_superstructure_adobe_mud' 'has_superstructure_mud_mortar_stone'
 'has_superstructure_stone_flag' 'has_superstructure_cement_mortar_stone'
 'has_superstructure_mud_mortar_brick'
 'has_superstructure_cement_mortar_brick' 'has_superstructure_timber'
 'has_superstructure_bamboo' 'has_superstructure_rc_non_engineered'
 'has_superstructure_rc_engineered' 'has_superstructure_other'
 'legal_ownership_status' 'count_families' 'has_secondary_use'
 'has_secondary_use_agriculture' 'has_secondary_use_hotel'
 'has_secondary_use_rental' 'has_secondary_use_institution'
 'has_secondary_use_school' 'has_secondary_use_industry'
 'has_secondary_use_health_post' 'has_secondary_use_gov_office'
 'has_secondary_use_use_police' 'has_secondary_use_other']

## Get all types

In [25]:
# print(X_train.dtypes)
for i in range(X_train.shape[1]):
    col_name = X_train.columns.values[i]
    print(f"{col_name} : {np.unique(X_train[col_name])} | {X_train.dtypes[i]}")

building_id : [      4       8      12 ... 1052929 1052931 1052934] | int64
geo_level_1_id : [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30] | int64
geo_level_2_id : [   0    1    3 ... 1425 1426 1427] | int64
geo_level_3_id : [    0     1     3 ... 12564 12565 12567] | int64
count_floors_pre_eq : [1 2 3 4 5 6 7 8 9] | int64
age : [  0   5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85
  90  95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175
 180 185 190 195 200 995] | int64
area_percentage : [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  69  70  72  73  75
  76  77  78  80  82  83  84  85  86  90  96 100] | int64
height_percentage : [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 23 24 25 26
 28 31 32] | int64
land_surface_condition : ['n' 'o' 't'] | object
foundation_type : ['h' 'i' 'r' 'u' 'w'] | object
roof_type : ['n' 'q' 'x'] | object
ground_floor_type : ['f' 'm' 'v' 'x' 'z'] | object
other_floor_type : ['j' 'q' 's' 'x'] | object
position : ['j' 'o' 's' 't'] | object
plan_configuration : ['a' 'c' 'd' 'f' 'm' 'n' 'o' 'q' 's' 'u'] | object
has_superstructure_adobe_mud : [0 1] | int64
has_superstructure_mud_mortar_stone : [0 1] | int64
has_superstructure_stone_flag : [0 1] | int64
has_superstructure_cement_mortar_stone : [0 1] | int64
has_superstructure_mud_mortar_brick : [0 1] | int64
has_superstructure_cement_mortar_brick : [0 1] | int64
has_superstructure_timber : [0 1] | int64
has_superstructure_bamboo : [0 1] | int64
has_superstructure_rc_non_engineered : [0 1] | int64
has_superstructure_rc_engineered : [0 1] | int64
has_superstructure_other : [0 1] | int64
legal_ownership_status : ['a' 'r' 'v' 'w'] | object
count_families : [0 1 2 3 4 5 6 7 8 9] | int64
has_secondary_use : [0 1] | int64
has_secondary_use_agriculture : [0 1] | int64
has_secondary_use_hotel : [0 1] | int64
has_secondary_use_rental : [0 1] | int64
has_secondary_use_institution : [0 1] | int64
has_secondary_use_school : [0 1] | int64
has_secondary_use_industry : [0 1] | int64
has_secondary_use_health_post : [0 1] | int64
has_secondary_use_gov_office : [0 1] | int64
has_secondary_use_use_police : [0 1] | int64
has_secondary_use_other : [0 1] | int64

## Load test data

In [9]:
X_test = pd.read_csv("data/test_values.csv")

In [10]:
X_test.head(10)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,t,r,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,t,r,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,t,r,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,t,r,...,0,0,0,0,0,0,0,0,0,0
5,871976,22,170,4029,1,55,4,3,t,r,...,0,0,0,0,0,0,0,0,0,0
6,691228,26,432,6794,2,0,6,7,n,r,...,0,0,0,0,0,0,0,0,0,0
7,896100,8,1373,958,2,35,2,8,t,r,...,0,0,0,0,0,0,0,0,0,0
8,343471,16,244,3521,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
9,766647,26,761,3137,2,5,6,7,n,r,...,0,0,0,0,0,0,0,0,0,0

In [11]:
print(X_test.shape)

(86868, 39)

## Map string values to ints

In [55]:
def get_mapping_dict(string_list):
    dict = {}
    for i in range(string_list.shape[0]):
        current_value = string_list[i]
        dict[current_value] = i

    return dict


temp = np.array(['h', 'i', 'r', 'u', 'w'])
print(get_mapping_dict(temp))

# X_train.columns[0]
np.unique(X_train["foundation_type"])

{'h': 0, 'i': 1, 'r': 2, 'u': 3, 'w': 4}

array(['h', 'i', 'r', 'u', 'w'], dtype=object)

In [60]:
def map_str_values(df):
    for i in range(df.shape[1]):
        col_name = df.columns[i]

        if (X_train[col_name].dtype == "object"):
            uniques = np.unique(df[col_name])
            map_dict = get_mapping_dict(uniques)
            df[col_name] = df[col_name].map(map_dict)

    return df

mapped_df = map_str_values(X_train)

In [62]:
mapped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  int64
 9   foundation_type                         260601 non-null  int64
 10  roof_type                               260601 non-null  int64
 11  ground_floor_type                       260601 non-null  int64
 12  other_floor_type                        260601 non-null  int64
 13  position                                260601 non-null  int64
 14  plan_configuration                      260601 non-null  int64
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  int64
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(39)
memory usage: 77.5 MB